---
---
@charset "utf-8";

$filter: rgba(197, 197, 197, 0.75);
$filter-2: rgba(255, 255, 255, 0.9);
$filter-dark: rgba(37, 37, 37, 0.9);
$primary-color: rgba(255, 255, 255, 0.918);
$secondary-color: black;





// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixin",
        "base",
        "socialIcons"
;
