<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading"><a href="/">{{ site.title }}</a></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
          <i class="fa fa-2x fa-twitter"></i>
        </a>
        <!-- <a href="https://facebook.com/{{ site.facebook }}" target="_blank">
          <i class="fa fa-2x fa-facebook"></i>
        </a> -->
        <a href="http://last.fm/user/{{ site.lastfm }}" target="_blank">
          <i class="fa fa-2x fa-lastfm"></i>
        </a>
        <a href="https://github.com/{{ site.github }}" target="_blank">
          <i class="fa fa-2x fa-github"></i>
        </a>
        <a href="https://open.spotify.com/user/{{ site.spotify }}" target="_blank">
          <i class="fa fa-2x fa-spotify"></i>
        </a>
        <a href="http://amzn.com/w/Z6U00GXJYVLQ" target="_blank">
          <i class="fa fa-2x fa-amazon"></i>
        </a>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
