<div class="filter container-fluid">
    <div class="hello row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <p>Hey, thanks for visiting. I'm getting closer to needing a job, so this website contains a few things I've worked/working on. I'm building websites and applications. <a href="/about">Reach out</a> if you'd like to work together.</p>
            <p>stay cool -kevin</p>
        </div>
    </div>
    <div class="nav row">
        <div class="col">
            <a href="/about">about</a>
            <a href="/pen">pen</a>
            <a href="/portfolio">portfolio</a>
        </div>
    </div>
    <div class="social row">
        <div class="col">
            <a class="amazon" href="http://amzn.com/w/Z6U00GXJYVLQ"><i class="fab fa-amazon"></i></a>
            <a class="facebook" href="https://facebook.com/{{ site.facebook }}"><i class="fab fa-facebook-f"></i></a>
            <a class="github" href="https://github.com/{{ site.github }}"><i class="fab fa-github"></i></a>
            <a class="instagram" href="https://instagram.com/{{ site.instagram }}"><i class="fab fa-instagram"></i></a>
            <a class="lastfm" href="https://last.fm/user/{{ site.lastfm }}"><i class="fab fa-lastfm"></i></a>
            <a class="linkedin" href="https://www.linkedin.com/in/{{ site.linkedin }}"><i class="fab fa-linkedin"></i></a>
            <a class="twitter" href="https://twitter.com/{{ site.twitter }}"><i class="fab fa-twitter"></i></a>
            <a class="spotify" href="https://open.spotify.com/user/{{ site.twitter }}"><i class="fab fa-spotify"></i></a>            
        </div>
    </div>
</div>