body {
    font-family: 'Roboto Mono', monospace;
}

.landing {
    // @include background-image();

    p {
        font-size: 1.1em;
        padding-top: 1em;

        a {
            color: $secondary-color;
            text-decoration: underline $primary-color;
        }
    }
}

.filter {
    background-color: $filter;
    min-height: 100vh;
}

.nav {

    a {
        color: $primary-color;
        margin: 1em 0 0 0;
        border: 1px $primary-color solid;
        display: inline-block;
        padding: 0 0.5em 0 0.5em;
        text-align: center;
        vertical-align: middle;

        &:hover {
            color: #0000005d;
            background-color: $primary-color;
            text-decoration: none;
        }
    }
}

.default {
    @include background-image();
    min-height: 100vh;
}

.posts, .about, .portfolio {
    margin-top: 1em;
    color: $primary-color;

    img {
        margin: auto;
    }

    a {
        text-decoration: none;
        color: $secondary-color;

        &:hover {
            color: $primary-color;
        }

        .date {
            color: $secondary-color;
        }
    }
}

.post {
    background-color: $filter-2;
    padding: 1em;
}

.filter-dark {
    background-color: $filter-dark;
}

.title {
    a {
        color: $primary-color;
    }
}

blockquote {
    padding-left: 2em;
}

#contact a {
    // text-decoration: underline $primary-color;
    color: $secondary-color;

    &:hover {
        color: $primary-color;
        text-decoration: none;
    }
}

#foot-text {
    font-size: 0.8em;
}

.portfolio {
    .item div {
        margin-bottom: 2em;

        &:hover {
            h5 {
                color: $primary-color;
            }
        }
    }
    p, h5 {
        color: $secondary-color;
        padding: 0;
        margin: 0;
    }
}