body {
    font-family: 'Roboto Mono', monospace;
}

.landing {
    @include background-image();

    p {
        font-size: 1.1em;
        padding-top: 1em;

        a {
            color: $secondary-color;
            text-decoration: underline $primary-color;
        }
    }
}

.filter {
    background-color: $filter;
    min-height: 100vh;
}

.nav {

    a {
        color: $primary-color;
        margin: 1em 0 0 0;
        border: 1px $primary-color solid;
        display: inline-block;
        padding: 0 0.5em 0 0.5em;
        text-align: center;
        vertical-align: middle;

        &:hover {
            color: #0000005d;
            background-color: $primary-color;
            text-decoration: none;
        }
    }
}

.default {
    @include background-image();
    min-height: 100vh;
}

.posts, .about, .portfolio {
    margin-top: 1em;
    color: $primary-color;

    a {
        text-decoration: none;
        color: $secondary-color;

        &:hover {
            color: $primary-color;
        }

        .date {
            color: $secondary-color;
        }
    }
}

.post {
    background-color: $filter-2;
    padding: 1em;
}