@mixin background-image() {
    // background-image: url(https://source.unsplash.com/2000x2000/?summit,stars,sailing,galaxy,mountains,sail,joy,ocean,desert,running,gratitude,cloud,dogs);
    background-image: url(/images/bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}