.social {
    a {
        color: white;
        border: 1px white solid;
        display: inline-block;
        width: 2em;
        text-align: center;
        margin: 1em 0 1em 0;
    }

    .amazon:hover {
        background-color: #ff9900;
        border-color: #ff9900;
    }

    .facebook:hover {
        background-color: #3b5998;
        border-color: #3b5998;
    }

    .github:hover {
        background-color: #333;
        border-color: #333;
    }

    .instagram:hover {
        background-color: #f77737;
        border-color: #f77737;
    }

    .lastfm:hover {
        background-color: #d51007;
        border-color: #d51007;
    }

    .linkedin:hover {
        background-color: #0077b5;
        border-color: #0077b5;
    }

    .twitter:hover {
        background-color: #1da1f2;
        border-color: #1da1f2;
    }

    .spotify:hover {
        background-color: #1db954;
        border-color: #1db954;
    }   
}